<md-content class="md-padding">
  <h1 class="md-title">Your invitations</h1>
  <md-list>
    <md-list-item class="md-3-line" ng-repeat="item in m.sports">
      <img ng-src="{{item.imageUrl}}" style="width: 60px; height:60px;" />
      <div class="md-list-item-text" layout="column">
        <h3>{{ item.sport }}</h3>
        <h4>{{ item.details }}</h4>
      </div>
      <div layout="column">
        <md-button>
          <i class="material-icons icon-in-button" style="color: green">add_box</i>
          Join
        </md-button>
      </div>
      <div layout="column">
        <md-button>
          <i class="material-icons icon-in-button">message</i>
          Ask
        </md-button>
      </div>
      <div layout="column">
        <md-button>
          <i class="material-icons icon-in-button" style="color: red">cancel</i>
          Decline
        </md-button>
      </div>
    </md-list-item>
  </md-list>

</md-content>
